<!DOCTYPE html>
<html>
<head>
    <title>Django - Multiple Files Upload</title>
    <style>
        table, td, th {
            border: 2px solid black;
        }
    </style>
</head>
<body>
<div style="width: 500px; margin: auto;">
    <fieldset name="Multiple Files Upload">
        {% if msg %} {% autoescape off %} {{ msg }} {% endautoescape %} {% endif %}
        <form method="post" action="/multiple" enctype="multipart/form-data">
            {% csrf_token %}
            <dl>
                <p>
                    <label>Browse and select one or more files</label>&nbsp;&nbsp;
                    <input type="file" name="files" autocomplete="off" required multiple>
                </p>
                <p>
                    <label>File Type</label>
                    <input type="radio" name="catagory" value='Invoice' checked/>Invoice
                    <input type="radio" name="catagory" value='Purchase Order'/>Purchase Order </p>
            </dl>
            <p>
                <input type="submit" value="Upload">
            </p>
            <br><br>
            {{ time }}
            {% autoescape off %} {{ outpt }} {% endautoescape %}
        </form>
    </fieldset>
</div>
</body>
</html>